include _menu.pug

doctype html

block vars

- var title = pageTitle || ''

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title=`accessible-focus-ring – ${title}`
    link(rel="stylesheet" href=`${root}/accessible-focus-ring.css`)
    link(rel="stylesheet" href=`${root}/demo.css`)

  body
    section
      h1
        | clicking doesn't show focus ring
        |
        span.js-tab
      div: a(href="#") link
      div: button(type="button") button
      div: input(type="text" placeholder="input")
      div: select
        option select
        option definitively a select
      div: textarea(cols="30" rows="10")
        | textarea
    block nav
    block content
