-
  var items = [
    {name: `global`, url: `/`},
    {name: `common-js`, url: `/demo-commonjs.html`},
    {name: `es-module`, url: `/demo-es-module.html`},
  ]

mixin menu( activeIndex, redefineVh )
  nav.nav
    each item, index  in items
      - var isActive = activeIndex === index
      - var className = `nav__item${ isActive ? ` nav__item--active` : `` }`
      a(class=className href=`${root}${item.url}`)= item.name
